<div class="md:flex md:flex-row md:justify-center">
    <p class="my-6 px-5 w-full md:max-w-screen-md">Below are the highest jumps as recorded by <a href="https://surfr-leaderboard.vercel.app/" class="underline">Surfr</a> and <a href="https://leaderboards.woosports.com/?feature=height&game_type=big_air" class="underline">Woo</a>. New results can take <span class="italic">up to</span> <%= @delay %> hour(s) to sync and be displayed here. The highest scoring jump from each source is highlighted in green.</p>
</div>

<div class="table-container">
    <table id='results' class='centre-table'>
        <thead>
            <tr>
                <th class="border-2 py-2 sm:px-2">Position</th>
                <th class="border-2 py-2 sm:px-2">Source</th>
                <th class="border-2 py-2 sm:px-2">Rider</th>
                <th class="border-2 py-2 sm:px-2">Height (m)</th>
            </tr>
        </thead>
        <tbody>
            <% @jumps.each_with_index do |jump, i| %>
                <tr class="<%= @top_result_indexes.include?(i) ? "background-lime" : "" %>">
                    <td class="border-2 py-2 sm:px-2"><%= jump[:position] %></td>
                    <td class="border-2 py-2 sm:px-2"><%= jump[:source] %></td>
                    <td class="border-2 py-2 sm:px-2"><%= jump[:name] %></td>
                    <td class="border-2 py-2 sm:px-2 text-right"><%= jump[:height] %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
